<!DOCTYPE html>
<html>
<head>
  <title>🎉NSS-E2🎉</title>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" type="text/css" href="../lib/node_modules/materialize-css/dist/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>
<body ng-app="classSite">
  <!-- parallax landing image -->

  <div class="parallax-container">
    <div class="parallax"><img class="classPic" src="/images/classsilly.jpg"></div>
          <div class="overlay"></div>
        <h3 class="center-align classTitle">NSS EVENING COHORT 2</h3>
  </div>
  <div class="mobileCover">
    <h3 class="center-align classTitle">NSS Evening Cohort 2</h3>
  </div>
  <!-- end parallax cover image -->


  <section class="classNameDiv valign-wrapper" class="section" style="height: 200px;">
    <div class="valign techName">
      <h3 class="center-align">SENIORS 2016</h3>
      <h5 class="center-align"><i>"LOUD N' PROUD, WE'RE LIVING THE DREAM, WE'RE THE CLASS OF 2016!" - Kirk Walker Graves</i></h5>
    </div>

  </section>

  <section id="studentSection" ng-controller="homeCtrl" ng-switch="listState" class="animate-switch-container">
      <div class="container">

      <div class="row animate-switch rowBg" ng-switch-when="students">
        <div class="col m3 s12 imgPadding" ng-repeat="student in students">
          <img class="bwPhotos studentListHover" ng-click="goToInfo(student, $index)" src="{{student.imagebw}}" alt=""/>
          <div class="valign-wrapper nameTag">
              <h5 class="valign center-align">{{student.name}}</h5>
          </div>
          <!-- <p class="nameTag">{{student.name}}</p> -->
        </div>
      </div>
    </div>



      <div class="row animate-switch" ng-switch-when="student0">
      <div class="row">
          <a  ng-click="goToInfo()" class="allStudentsBtn waves-effect waves-light btn"><i class="material-icons">keyboard_arrow_left</i> Students</a>      
      </div>
        <div ng-if="singleStudent.sid-1 >= 0" ng-click="studentCarousel(singleStudent.sid, 'left')" class="carouselLeftArrow"><i class="material-icons arrow">keyboard_arrow_left</i></div>
        <div ng-if="singleStudent.sid+1 <= 11" ng-click="studentCarousel(singleStudent.sid, 'right')" class="carouselRightArrow"><i class="material-icons arrow">keyboard_arrow_right</i></div>
        <div class="container SSInfoCont">
          <div class="row infoPadding">
            <img class="bwPhotos col m5" src="{{singleStudent.imagesilly}}" alt=""/>
            <section class="col m6">
              <h3 class="titleSpacing">{{singleStudent.name}}</h3>
              <ul>
                <a href="http://{{singleStudent.website}}">WEBSITE | </a>
                <a href="http://{{singleStudent.github}}">GITHUB | </a>
                <a href="http://{{singleStudent.linkedin}}">LINKEDIN | </a>
                <a href="mailto:{{singleStudent.email}}">EMAIL</a>
              </ul>
              <p><i class="material-icons">radio</i><em>CURRENTLY SPINNING</em>- {{singleStudent.spinning}}</p>
              <h5 ng-if="checkTitle()"><strong class="titleSpacing">FINAL CAPSTONE</strong> - {{singleStudent.beTitle}}</h5>
              <p ng-if="checkTitle()">{{singleStudent.beCapDesc}}</p>
              <!-- social links -->
              <h5 class="left-align titleSpacing"><strong>WHO AM I?</strong></h5>
              <p>{{singleStudent.aboutMe}}</p>
              <h5 class="left-align titleSpacing"><strong>ONE ASPIRATION</strong></h5>
              <p>{{singleStudent.oneAspiration}}</p>
              <h5 class="left-align titleSpacing"><strong>ONE INTERESTING FACT</strong></h5>
              <p>{{singleStudent.oneFact}}</p>
            </section>           
          </div>
        </div>
      </div>



            <div class="row animate-switch" ng-switch-when="student">
      <div class="row">
          <a  ng-click="goToInfo()" class="allStudentsBtn waves-effect waves-light btn"><i class="material-icons">keyboard_arrow_left</i> Students</a>      
      </div>
        <div ng-if="singleStudent.sid-1 >= 0" ng-click="studentCarousel(singleStudent.sid, 'left')" class="carouselLeftArrow"><i class="material-icons arrow">keyboard_arrow_left</i></div>
        <div ng-if="singleStudent.sid+1 <= 11" ng-click="studentCarousel(singleStudent.sid, 'right')" class="carouselRightArrow"><i class="material-icons arrow">keyboard_arrow_right</i></div>
        <div class="container SSInfoCont">
          <div class="row infoPadding">
            <img class="bwPhotos col m5" src="{{singleStudent.imagesilly}}" alt=""/>
            <section class="col m6">
              <h3 class="titleSpacing">{{singleStudent.name}}</h3>
              <ul>
                <a href="http://{{singleStudent.website}}">WEBSITE | </a>
                <a href="http://{{singleStudent.github}}">GITHUB | </a>
                <a href="http://{{singleStudent.linkedin}}">LINKEDIN | </a>
                <a href="mailto:{{singleStudent.email}}">EMAIL</a>
              </ul>
              <p><i class="material-icons">radio</i><em>CURRENTLY SPINNING</em>- {{singleStudent.spinning}}</p>
              <h5 ng-if="checkTitle()"><strong class="titleSpacing">FINAL CAPSTONE</strong> - {{singleStudent.beTitle}}</h5>
              <p ng-if="checkTitle()">{{singleStudent.beCapDesc}}</p>
              <!-- social links -->
              <h5 class="left-align titleSpacing"><strong>WHO AM I?</strong></h5>
              <p>{{singleStudent.aboutMe}}</p>
              <h5 class="left-align titleSpacing"><strong>ONE ASPIRATION</strong></h5>
              <p>{{singleStudent.oneAspiration}}</p>
              <h5 class="left-align titleSpacing"><strong>ONE INTERESTING FACT</strong></h5>
              <p>{{singleStudent.oneFact}}</p>
            </section>           
          </div>
        </div>
      </div>




            <div class="row animate-switch" ng-switch-when="student2">
      <div class="row">
          <a  ng-click="goToInfo()" class="allStudentsBtn waves-effect waves-light btn"><i class="material-icons">keyboard_arrow_left</i> Students</a>      
      </div>
        <div ng-if="singleStudent.sid-1 >= 0" ng-click="studentCarousel(singleStudent.sid, 'left')" class="carouselLeftArrow"><i class="material-icons arrow">keyboard_arrow_left</i></div>
        <div ng-if="singleStudent.sid+1 <= 11" ng-click="studentCarousel(singleStudent.sid, 'right')" class="carouselRightArrow"><i class="material-icons arrow">keyboard_arrow_right</i></div>
        <div class="container SSInfoCont">
          <div class="row infoPadding">
            <img class="bwPhotos col m5" src="{{singleStudent.imagesilly}}" alt=""/>
            <section class="col m6">
              <h3 class="titleSpacing">{{singleStudent.name}}</h3>
              <ul>
                <a href="http://{{singleStudent.website}}">WEBSITE | </a>
                <a href="http://{{singleStudent.github}}">GITHUB | </a>
                <a href="http://{{singleStudent.linkedin}}">LINKEDIN | </a>
                <a href="mailto:{{singleStudent.email}}">EMAIL</a>
              </ul>
              <p><i class="material-icons">radio</i><em>CURRENTLY SPINNING</em>- {{singleStudent.spinning}}</p>
              <h5 ng-if="checkTitle()"><strong class="titleSpacing">FINAL CAPSTONE</strong> - {{singleStudent.beTitle}}</h5>
              <p ng-if="checkTitle()">{{singleStudent.beCapDesc}}</p>
              <!-- social links -->
              <h5 class="left-align titleSpacing"><strong>WHO AM I?</strong></h5>
              <p>{{singleStudent.aboutMe}}</p>
              <h5 class="left-align titleSpacing"><strong>ONE ASPIRATION</strong></h5>
              <p>{{singleStudent.oneAspiration}}</p>
              <h5 class="left-align titleSpacing"><strong>ONE INTERESTING FACT</strong></h5>
              <p>{{singleStudent.oneFact}}</p>
            </section>           
          </div>
        </div>
      </div>
  </section>

  <section class="classNameDiv valign-wrapper section center-align" style="height: 200px;">
      <h3 class="valign techName">TECHNOLOGIES</h3>
  </section>
  <section class="techIconBg">
    <div class="container techIcons">
      <div class="row techPadding center-align">
        <div class="col s6 m3"><img src="/tech_images/angular.png" alt="angular"/></div>
        <div class="col s6 m3"><img src="/tech_images/bootstrap.png" alt="bootstrap"/></div>
        <div class="col s6 m3"><img src="/tech_images/bower.png" alt="bower"/></div>
        <div class="col s6 m3"><img src="/tech_images/css3.png" alt="css"/></div>
        <div class="col s6 m3"><img src="/tech_images/firebase.png" alt="firebase"/></div>
        <div class="col s6 m3"><img src="/tech_images/github.png" alt="git/github"/></div>
        <div class="col s6 m3"><img src="/tech_images/grunt.png" alt="grunt"/></div>
        <div class="col s6 m3"><img src="/tech_images/html5.png" alt="html"/></div>
        <div class="col s6 m3"><img src="/tech_images/javascript.png" alt="javascript"/></div>
        <div class="col s6 m3"><img src="/tech_images/jquery.png" alt="jQuery"/></div>
        <div class="col s6 m3"><img src="/tech_images/lodash.png" alt="lodash"/></div>
        <div class="col s6 m3"><img src="/tech_images/npm.png" alt="angular"/></div>
        <div class="col s6 m3"><img src="/tech_images/sass-logo-new.png" alt="sass"/></div>
        <div class="col s6 m3"><img src="/tech_images/small-csharp.png" alt="csharp"/></div>
        <div class="col s6 m3"><img class="sql" src="/tech_images/sql.png" alt="SQL"/></div>
    </div>
    </div>
  </section>
  <footer class="valign-wrapper section center-align">
    <h5 class="valign">Powered by Github, written by <a class="whiteLink" href="https://jmharris229.github.io/"><em>JOEL HARRIS</em></a></h5>
  </footer>

<script type="text/javascript" src="../lib/node_modules/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="../lib/node_modules/materialize-css/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="../lib/node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="../lib/bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="../Scripts/app.js"></script>
</body>
</html>