.studentPhotos{
  height: 100px;
  width: 100px;
}
.mobileCover{
  height:100vh !important;
  display: block;
  background-color: grey;
}
.parallax-container{
  display: none;
}
.bwPhotos{
  width:100%;
}
.classNameDiv h2,.classNameDiv h5{
  color: white;
}
ul li:nth-child(2), ul li:nth-child(3){
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.classNameDiv{
  background-color: #283233;
}
.nameTag{
  background-color: #86d2c9;
  position: relative;
  margin-top: -55px;
  height:50px;
  color: white;

}
.imgPadding{
  padding-bottom: 15px !important;
}
.imgPadding img{
    box-shadow: 0px 2px 0px #283233;
}
.arrow{
  font-size: 3.5em !important;
}
.SSInfoCont{
  box-shadow: 0px 2px 0px #283233;
}

.infoPadding{
  padding:30px !important;
}

.carouselLeftArrow{
  position: absolute;
  height:100px;
  line-height: 100%;
  top:300px;
  background-color: #86d2c9;
  height:48px;

}
.carouselLeftArrow:hover{
  cursor:pointer;
  color: #283233;
}
.carouselRightArrow{
  position: absolute;
  height:100px;
  line-height: 100%;
  top:300px;
  right:0;
  background-color: #86d2c9;
  height: 48px;
}
.carouselRightArrow:hover{
  cursor:pointer;
  color: #283233;
}

h5{
    font-size: 1.2rem;
    width:100%;
}
h2{
  margin-top: 0px;
}
#studentSection{
  background-color: #f3f6fb;
  height: 100%;
}
ul li{
  padding: 0 5px;
}

.animate-switch-container {
  position:relative;
  background:white;
  border:1px solid black;
  height: auto;
  overflow:hidden;
}
.container{
  background-color: white;
}
.rowBg{
  background-color: #f3f6fb;  
}


.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;

  position:relative;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  left:-100%;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  left:0;
}
.studentListHover:hover{
  opacity: .8;
  cursor: pointer;
  background-color: white;
}
a{
  color:#86d2c9;
}
a:visited{
  color:#86d2c9;
}

@media screen and (min-width: 768px){
  .mobileCover{
    display: none;
  }
  .parallax-container{
    display: block;
    height: 100vh !important;
    overflow:hidden;
  }
  #studentSection{
    padding-top:20px;
    height: auto;
  }
}




