body{
  background-color: #283233;
}
.studentPhotos{
  height: 100px;
  width: 100px;
}
@keyframes className{
  0%{
    visibility: visible;
    opacity: 0;
  }
  50%{
    opacity: .5;
  }
  100%{
    opacity: 1;
    visibility: visible;
  }
}

.classTitle{
  visibility: hidden; 
  letter-spacing: 5px;
  border:6px solid white;
  padding: 15px;
  position: absolute;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  animation-name:className;
  animation-fill-mode:forwards;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-timing-function:linear;
}

@keyframes overlayFade{
  0%{
    visibility: visible;
    opacity: 0;
  }
  50%{
    opacity: .25;
  }
  100%{
    visibility: visible;
    opacity: .5;
  }
}

.overlay{
  visibility: hidden;
  background-color: black;
  display: block;
  position: absolute;
  height:100vh !important;
  width: 100%;
  z-index: 100;
  animation:overlayFade;
  animation-fill-mode:forwards;
  animation-duration: 1.5s;
  animation-delay: .5s;
  animation-timing-function:linear;
}

.allStudentsBtn{
  position: absolute;
  top:0;
  left:0;
  background-color: #86d2c9;
}


.mobileCover{
  height:100vh !important;
  display: block;
  background-color: #86d2c9;
}
.sql{
  width:60px;
  height: 60px;
}
.techName{
  width: 100%;
}
.parallax-container{
  display: none;
}
.bwPhotos{
  width:100%;
}
.classNameDiv h2,.classNameDiv h5, .classNameDiv h3{
  color: white;
  letter-spacing: 5px;
}
.classNameDiv h3{
  font-size: 36px;
}
ul li:nth-child(2), ul li:nth-child(3){
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.classNameDiv{
  background-color: #283233;
}
.nameTag{
  background-color: #86d2c9;
  position: relative;
  margin-top: -55px;
  height:50px;
  color: white;

}
.imgPadding{
  padding-bottom: 15px !important;
}
.imgPadding img{
    box-shadow: 0px 2px 0px #283233;
}
.arrow{
  font-size: 3.5em !important;
  color: white;
}
.SSInfoCont{
  box-shadow: 0px 1px 0px #283233;
}
.titleSpacing{
  letter-spacing: 3px;
}
.techIconBg{
  background-color: #f3f6fb;
  padding: 20px 0;
}
.techIcons{
  background-color: transparent !important;
}
.infoPadding{
  padding:30px !important;
}

.carouselLeftArrow{
  position: absolute;
  height:100px;
  line-height: 100%;
  top:300px;
  background-color: #86d2c9;
  height:48px;

}
.carouselLeftArrow:hover{
  cursor:pointer;
  color: #283233;
  background-color: #26a69a;
}
.carouselRightArrow{
  position: absolute;
  height:100px;
  line-height: 100%;
  top:300px;
  right:0;
  background-color: #86d2c9;
  height: 48px;
}
.carouselRightArrow:hover{
  cursor:pointer;
  color: #283233;
  background-color: #26a69a;
}

h5{
    font-size: 1.2rem;
    width:100%;
}
h2{
  margin-top: 0px;
}
h3{
  margin-top: 0px;

}
#studentSection{
  background-color: #f3f6fb;
  height: 100%;
}
ul li{
  padding: 0 5px;
}

.techPadding div{
  padding: 10px !important;
}
.techPadding{
  margin-bottom: 0;
  padding: 20px 0 0 0;
}
footer{
  background-color: #86d2c9;
  color: white;
  font-size:1.5em;
  height: 75px;
}
.editor{
  background-color: #f3f6fb;
  height: auto;
  font-size: 2em;
  padding:40px 0;
}
.editor h5{
  font-size: 1em;
  text-align: center;
}
.animate-switch-container {
  position:relative;
  background:white;
  height: auto;
  overflow:hidden;
}
.container{
  background-color: white;
}
.rowBg{
  background-color: #f3f6fb;  
}


.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;

  position:relative;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  left:-100%;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  left:0;
}
.studentListHover:hover{
  opacity: .8;
  cursor: pointer;
  background-color: white;
}
a{
  color:#86d2c9;
}
a:visited{
  color:#86d2c9;
}
.whiteLink{
  color: white !important;
}
@media screen and (min-width: 768px){
  .mobileCover{
    display: none;
  }
  .parallax-container{
    display: block;
    height: 100vh !important;
    overflow:hidden;
  }
  #studentSection{
    padding-top:20px;
    height: auto;
  }
}




